# Exclude all confidential student data:
Data Analysis/data/raw_student_data/*

# Exclude all anonymized student data for now:
Data Analysis/data/processed_student_data/*

# Include sample data:
!Data Analysis/data/raw_student_data/SAMPLE_2023_M_1_Testprogramm/ 
!Data Analysis/data/raw_student_data/SAMPLE_2023_M_1_Testprogramm/SAMPLE_2023_Scoreboard.csv
!Data Analysis/data/processed_student_data/SAMPLE_2023_M_1_Testprogramm/

Data Analysis/venv/*
*.pyc