/data/raw_student_data/*					# exclude confidential student data
!/data/raw_student_data/SAMPLE_2023_M_1_Testprogramm/		# include sample data
/data/processed_student_data/*					# exclude anonymized student data for now
!/data/processed_student_data/SAMPLE_2023_M_1_Testprogramm/	# include sample data

venv/*
*.pyc